/* =============== Font Imports ================  */
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {font-family: 'Roboto', sans-serif, Arial, Calibri, monospace; }

h1 {
  font-family: 'Roboto Black', sans-serif;
  color:#2e83c3;

}

h2 {
  font-family: 'Roboto Medium', sans-serif;
}

p {
  font-family: 'Roboto Light', sans-serif;
}

/* ==================== Nav Bar ==================== */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e83c3;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #77d3f1;
}

/* ======================== Link hovers and actions ================   */
a {
  color: #2e83c3;
}

a:hover {
  color: #77d3f1;
}

a:visited {
  color: #64caed;
}

/* ============== Footer ======================= */
footer {

}
